.video-list-item-wrapper {
    place-self: center;
    width: 400px;
}

.video-list-item {
    font-family: Comic Sans MS, Comic Sans, cursive;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    padding: 15px;
    background: linear-gradient(to bottom, var(--first-fg-color), var(--second-bg-color));
    box-sizing: border-box;
    transition: 0.5s ease;
    border: solid 2px rgb(0, 0, 0);
}

.video-list-item-wrapper:hover .video-list-item {
    box-shadow: 0px 0px 10px var(--second-fg-color);
}

.video-list-item .video-preview {
    border-radius: 10px;
}

.video-list-item-wrapper:hover .video-list-item {
    background-color: rgb(6, 0, 28);
    border-color: var(--second-fg-color);
}

.video-list-item-wrapper:hover span {
    color: var(--third-fg-color);
}