@import url("../../../assets/css/colors.css");

#main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.common-header {
    box-sizing: border-box;

    width: 100%;
    height: 10%;

    position: fixed;
    left: 0px;
    top: 0px;

    z-index: 6;

    border-bottom: solid 1px;
    border-color: var(--second-fg-color);

    background-color: var(--second-bg-color);

    padding: 1% 3% 1% 3%;
}

.main-header-space {
    height: 10%;
    width: 100%;
}

@media screen and (max-width: 600px) {
    #main-header {
        justify-content: center;
    }
}