.profile-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    min-height: 90%;
}

.profile {

    margin: 50px 30px 50px 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 10px;

    background-color: var(--second-bg-color);

    padding: 30px;
    border-radius: 20px;
    box-sizing: border-box;

    border: 2px solid var(--second-fg-color);
}

.no-loaded {
    color: var(--error-color-dark);
}