.button-to-right {
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
}

.ref-to-registrate {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(42, 42, 127);
    transition: 0.5s;
}

.ref-to-registrate:hover {
    color: #1750cc;
}

.input-error {
    color: rgb(150, 3, 3);
    font-size: 12px;
}