@import url("../../../../assets/css/colors.css");

.button-to-right {
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
}

.ref-to-registrate {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--second-fg-color);
    transition: 0.5s;
}

.ref-to-registrate:hover {
    color: var(--third-fg-color);
}

.input-error {
    color: var(--error-color);
    font-size: 12px;
}