@import url("../../../../assets/css/colors.css");

.error-window {
    position: absolute;
    
    margin-top: 5px;
    padding: 10px;
    background-color: var(--second-bg-color);
    border: 2px solid var(--error-color);
    border-radius: 10px;
    box-sizing: border-box;

    max-width: 300px;

    z-index: 2;
}