:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 20, 20, 20;
  --background-end-rgb: 5, 5, 5;

  --header-font-rgb: 33, 33, 196;
  --header-font-hover-rgb: 108, 108, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 20, 20, 20;
    --background-end-rgb: 5, 5, 5;

    --header-font-rgb: 33, 33, 196;
    --header-font-hover-rgb: 108, 108, 255;
  }
}

* {
  margin: 0px;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  color: rgb(var(--foreground-rgb));
  background-image: linear-gradient(-45deg, #181818 0%, #131313 100%);
}

.main-color {
  color: rgb(var(--header-font-rgb));
}

.main-color-hover:hover {
  color: rgb(var(--header-font-hover-rgb));
}

.main-transition {
  transition: 0.5s;
}

.content-in-line {
  display: flex;
  align-items: center;
}

.space-bettwen-content {
  display: flex;
  justify-content: space-between;
}

.full-size {
  height: 100%;
  width: 100%;
}

.total-centralize-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-from-right-to-left {
  display: flex;
  flex-direction: row-reverse;
}

.hide-button {
  background-color: rgba(240, 248, 255, 0);
  border: 0px;
}