:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 20, 20, 20;
  --background-end-rgb: 5, 5, 5;

  --header-font-rgb: 33, 33, 196;
  --header-font-rgb: 108, 108, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 20, 20, 20;
    --background-end-rgb: 5, 5, 5;

    --header-font-rgb: 33, 33, 196;
    --header-font-hover-rgb: 108, 108, 255;
  }
}

html {
  height: 100vh;
}

body {
  height: 100%;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(rgb(var(--background-start-rgb)), rgb(var(--background-end-rgb)));
  margin: 0px;
}

.main-color {
  color: rgb(var(--header-font-rgb));
}

.main-color-hover:hover {
  color: rgb(var(--header-font-hover-rgb));
}

.main-transition {
  transition: 0.5s;
}

.content-in-line {
  display: flex;
  align-items: center;
}

.space-bettwen-content {
  display: flex;
  justify-content: space-between;
}