@import url("./globals.css");



.header-button {
    border: 0px;
    background-color: rgba(255, 255, 255, 0);
    font-size: 15px;
}

#main-logo {
    font-size: 20px;
}

#main-navigation {
    display: flex;
    justify-content: space-between;

    border-bottom: solid 1px;
    border-color: rgb(0, 2, 110);

    background-color: rgb(19, 19, 19);

    padding-left: 3%;
    padding-right: 3%;
}