@import url("/miet-video/src/src/assets/css/colors.css");

.logo-layout {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-layout a {
    display: block;
}

#logo {
    display: block;
    align-self: center;
    justify-self: center;

    font-size: 1.5em;
}

#logo:hover .main-logo-font {
    text-shadow: 0px 0px 7px var(--third-fg-color);
}

.main-logo-font {
    text-shadow: 0px 0px 3px var(--second-fg-color);
    font-family: Comic Sans MS, Comic Sans, cursive;
}

.logo-color {
    color: var(--second-fg-color);
}

.logo-color:hover {
    color: var(--third-fg-color);
}