@import url("/miet-video/src/src/assets/css/colors.css");

.button-to-right {
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
}

.input-error {
    color: var(--error-color);
    font-size: 12px;
}