@import url("../../../../assets/css/colors.css");

.button-to-right {
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
}

.file-loader-wrapper {
    margin-top: 10px;
}

.input-error {
    color: var(--error-color);
    font-size: 12px;
}