.button-to-right {
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
}

.file-loader-wrapper {
    margin-top: 10px;
}

.input-error {
    color: rgb(150, 3, 3);
    font-size: 12px;
}