@import url("/miet-video/src/src/assets/css/colors.css");

.header-button {
    color: var(--second-fg-color);

    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    box-sizing: border-box;
    border-left: solid 2px var(--second-fg-color);
    border-top: solid 2px var(--second-fg-color);
    padding: 3px 7px 3px 7px;
    border-radius: 10px;
    background-color: var(--second-bg-color);
    font-size: 18px;

    transition: 0.5s;

    font-size: 1.4em;
}

.header-button:hover {
    color: var(--third-fg-color);
    border-left: solid 2px  var(--third-fg-color);
    border-top: solid 2px  var(--third-fg-color);   
}

.header-button:active {
    color: var(--third-fg-color);
    border-right: solid 2px  var(--third-fg-color);
    border-bottom: solid 2px  var(--third-fg-color);   
}