@import url("../../../assets/css/colors.css");

* {
  user-select: none;
}

*:focus {
  outline: none;
}

.brd {
  border: 1px solid var(--second-fg-color);
}

#select-box {
  font-family: Comic Sans MS, Comic Sans, cursive;
  width: 300px;
}

#info {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  color: var(--second-fg-color);
  font-size: 16px;
  text-align: center;
  padding: 14px;
  background-color: #f3f9f9;
}

#app-cover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 300px;
  height: 42px;
  margin: 90px auto 0 auto;
  z-index: 1;
}

#select-button {
  position: relative;
  
  padding: 12px 14px;
  background: radial-gradient(var(--first-fg-color), var(--second-bg-color));
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s ease;
}

#options-view-button {
  position: relative;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 70px;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

#selected-value {
  color: var(--second-fg-color);
  font-size: 16px;
  line-height: 1;
  margin-right: 26px;
}

#select-box:hover #select-value {
  color: var(--third-fg-color);
}

#chevrons {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 12px;
  padding: 9px 14px;
}

#chevrons i {
  display: block;
  height: 50%;
  color: var(--second-fg-color);
  font-size: 12px;
  text-align: right;
}

#options {
  z-index: 3;
  height: 300px;
  box-sizing: border-box;
  background-color: var(--second-bg-color);
  margin-top: 5px;
  position: absolute;
  width: 300px;
  border: 1px solid var(--second-fg-color);
  border-radius: 10px;
  padding: 10px;

  overflow-y: scroll;
}

#options::-webkit-scrollbar {
  width: 0.5vw;
  height: 3.3vh;
  background-color: transparent;

  transition: 0.5s;
}

.separator {
  margin-left: 5%;
  width: 90%;
  height: 1px;
  background-color: var(--second-fg-color);
}

.display-none {
  display: none;
}

.subjects-list-warapper {
  font-size: 20px;
  font-family: Comic Sans MS, Comic Sans, cursive;
  color: var(--second-fg-color);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}