@import url("@/src/assets/css/forms/common.css");



.form-label {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 1.0em;

    font-family: Trebuchet MS, sans-serif;
}

.form-label.no-error {
    color: var(--third-fg-color);
}

.form-label.has-error {
    color: var(--error-color);
}

.form-label-wrapper {
    cursor: pointer;
}

.form-text-field-style { 
    font-family: Trebuchet MS, sans-serif;

    outline: none;
    color: var(--second-fg-color);
    padding: 3px 7px 3px 7px;
    border: solid 3px;
    background-color: var(--first-bg-color);
    border-radius: 10px;
    display: block;

    width: 90%;

    transition: 0.5s;
}

.form-text-field-style.no-error {
    border-color: var(--second-fg-color);
}

.form-text-field-style.has-error {
    border-color: var(--error-color);
}

.form-text-field-style:not(.has-error):focus {
    border: solid 3px var(--third-fg-color);
}

.form-text-field-style:hover {
    background-color:  var(--first-bg-color);
}

.form-text-field-style.no-error::placeholder {
    color:  var(--second-fg-color);
}

.form-text-field-style.has-error::placeholder {
    color: var(--error-color);
}