@import url("../../../../../assets/css/colors.css");

.video-list-item span {
    display: block;
    transition: 0.5s ease;
}

.video-list-item span.title {
    color: var(--second-fg-color);
    font-size: 22px;
}

.video-list-item span.date {
    color: var(--second-fg-color);
    font-size: 12px;
}